.app-container {
    color: white;
    background-color: coral;
    text-align: center;
    //height: 100%;
    width: 100%;
}
.wrapper {
    background: antiquewhite;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
